<% if resourceful.searchable? %>
  <%= form_tag params.merge({page: 1}), method: :get do %>
    <div class="input-group margin-bottom">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for...' %>
      <span class="input-group-btn">
        <%= submit_tag 'Go!', class: 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  <% end %>
<% end %>

<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Filter results</h3>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <%# <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> All</a></li> %>
      <li class="<%= 'active' unless current_scope %>">
        <%= link_to params.except(*resourceful.scopes.keys) do %>
          All <span class="pull-right">(<%= resourceful.unfiltered_collection.count %>)</span>
        <% end %>
      </li>
      <% resourceful.scopes.each do |name, scope| %>
        <% if scope.multiple? %>
          <li role="presentation" class="dropdown<%= ' active' if current_scope == name %>">
            <%= link_to({name => true}, class: "dropdown-toggle", role: 'button', aria_haspopup: true, aria_expanded: false, data: {toggle: 'dropdown'}) do %>
              <%= scope.label %> <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <% scope.values.each do |label, value| %>
                <% value = label if value.nil? %>
                <li class="<%= 'active' if params[name] == value %>">
                  <%= link_to({name => value}) do %>
                    <%= label %> (<%= scope.results(resourceful.unfiltered_collection, value).count %>)
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li class="<%= 'active' if current_scope == name %>">
            <%= link_to({name => true}) do %>
              <%= scope.label %> <span class="pull-right">(<%= scope.results(resourceful.unfiltered_collection).count %>)</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.box-body -->
</div>
