<%= render 'header' %>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class='col-md-2'>
      <%= render 'collection_controls' %>
      <%= render 'collection_filters' %>
    </div>
    <div class="col-md-10">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= "All #{resourceful.collection_name}" %></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <% if resourceful.collection.any? %>
            <%= render 'table' %>
          <% else %>
            <p>No entries were found</p>
          <% end %>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= render 'pagination' %>
        </div>
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
