<%= render 'header' %>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= interface.name_for(resourceful.resource) %></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <% attributes.for(:show).each do |attribute| %>
              <dt><%= attribute.label %></dt>
              <dd><%= attribute.long_format(resourceful.resource) %></dd>
            <% end %>
          </dl>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <div class='pull-right'>
            <%= link_to 'Back', resource_class, class: 'btn btn-sm btn-default' %>
            <%= link_to 'Edit', [:edit, resourceful.resource], class: 'btn btn-sm btn-primary' if resourceful.can_edit? %>
            <%= link_to 'Delete', [resourceful.resource], class: 'btn btn-sm btn-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this entry?'} if resourceful.can_destroy? %>
          </div>
        </div>
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->

