<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= interface.title %>
    <small>management</small>
  </h1>
  <%= render 'breadcrumbs', breadcrumb: interface.breadcrumbs %>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= "All #{interface.title}" %></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <%= render 'table' %>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= render 'pagination' %>
        </div>
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
