<%= render 'header' %>
<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <% colours = %w(aqua green yellow teal red purple) %>
  <% c = 0 %>
  <% dashboard.navigation.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each_with_index do |navigable, index| %>
        <% c = 0 if c > colours.length - 1 %>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-<%= colours[c] %>">
            <div class="inner">
              <h3><%= navigable.count %></h3>
              <p><%= navigable.label %></p>
            </div>
            <div class="icon">
              <i class="fa fa-<%= navigable.icon %>"></i>
            </div>
            <%= link_to instance_exec(&navigable.path), class: 'small-box-footer' do %>
              More info <i class="fa fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div><!-- ./col -->
        <% c += 1 %>
      <% end %>
    </div>
  <% end %>
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
